<h1>add a new user</h1>

<form accept-charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username"> User Name </label>
  <input type="text" name="user[name]">

  <label for="email"> Email </label>
  <input type="email" name="user[email]">

  <label for="password"> Password </label>
  <input type="password" name="user[password]">

  <input type="submit" name="commit">


</form>